.itemList-container {
    margin-top: 5px;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 360px;
  }

.itemList-img {
    border-radius: 50%;
  }

.item-content {
}