.itemList-container {
    margin-top: 5px;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

.itemList-container-img {
    display: inline-block;
    margin: 0px 20px 0px 20px;
}

.item-container-content {
    display: inline-block;
}
.itemList-img {
    border-radius: 50%;
  }

.listItem-link-container {
  padding-right: 15px;
  text-align: right;
}

.item-content {
}